<div class="container h-screen flex justify-center items-center content-center px-4 sm:px-6 lg:px-8">
    <div class="relative">
        <%= form_tag "/search", method: "get" do %>
            <input type="text" id="search_input" name="username" inputmode="search" required class="h-14 w-96 pr-8 pl-5 rounded z-0 focus:shadow focus:outline-none" placeholder="github_username">
            <div class="absolute top-4 right-3" id="search-button">
                <button type="submit">
                    <i title="search" class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i>
                </button>
            </div>
        <% end %>
    </div>
</div>

<% if session[:not_found_user] == true %>
    <div id="not_found_user" data-session="<%= session[:not_found_user]%>" class="invisible"></div>
    <% session[:not_found_user] = false %>
<% end %>